<h3 style="color:green;">
  <b>个人资料&nbsp&nbsp&nbsp</b>
  <a href="/HostManager/userProfile" class="btn btn-warning " align="right">修改个人资料</a> 
  <button type="Primary" class="btn btn-info " align="right">重置密码</button>
</h3>

<table class="table table-bordered">
  <tbody>
    <tr class="info">
      <td>用户名</td>
      <td>
        <%= cUser.nick %>
      </td>
      <td>Email</td>
      <td>
        <%= cUser.email %>
      </td>
    </tr>
    <tr>
      <td>服务类型</td>
      <td>
        租房、司机+车、向导
      </td>
      <td>手机号码</td>
      <td><%= cUser.cell %></td>
    </tr>

    <% var cHost = cUser.hosts[0]; %>

    <% include locals-functions %> 

    <tr class="info">
      <td>姓</td>
      <td><%= cHost.lastname%></td>
      <td>名</td>
      <td><%= cHost.firstname%></td>
    </tr>
    <tr>
      <td>兴趣爱好</td>
      <td><%= cHost.hobby.map(function(elem){return getHobby(elem); }).join(' | ') %></td>
      <td>服务语言</td>
      <td><%= cHost.servicelanguage.map(function(elem){return getLanguage(elem); }).join(' | ') %></td>
    </tr>
    <tr class="info">
      <td>性别</td>
      <td><%= cHost.sex === 'M' ? '男' : '女' %></td>
      <td>年龄</td>
      <td><%= cHost.age%></td>
    </tr>
    <tr>
      <td>服务城市</td>
      <td><%= cHost.servicecity.map(function(elem){return  getServicecity(elem); }).join(' | ') %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


</br></br></br>


<h3 style="color:orange;"><b>司机、导游服务&nbsp&nbsp&nbsp </b> <a href="/HostManager/editCar" class="btn btn-success" align="right">修改司机+导游服务</a></h3>

<% if (cHost.servicetype.includes("car_drive") ) { %>

<table class="table">
  <tbody>
    <tr  class="warning">
      <td>服务类型</td>
      <td> personal</td>
      <td>服务人数</td>
      <td>最多<%= cCar.maxserivecount %>人</td>
    </tr>
    <tr>
      <td>服务要求</td>
      <td><%= cCar.forbids %></td>
      <td>最短服务时间</td>
      <td><%= cCar.minservicetime %>小时</td>
    </tr>
    <tr  class="warning">
      <td>导游收费</td>
      <td><%= cCar.guideprice %>美金/小时</td>
      <td>司机+私家车收费</td>
      <td><%= cCar.guidewithcarprice %>美金/小时</td>
    </tr>
    <tr>
      <td>我的爱车</td>
      <td><%= cCar.carbrand %>&nbsp730&nbsp&nbsp<%= cCar.cartype %>&nbsp<%= cCar.cargroup %></td>
      <td>车辆详情</td>
      <td><%= cCar.doorcount %>门<%= cCar.seatcount %>座&nbsp<%= cCar.facility %></td>
    </tr>
    <tr  class="warning">
      <td>向导简介</td>
      <td><%= cCar.guideintroduction %></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>

<img src="/images/3.png" alt="头像" style="width:128px;height:128px;" class="img-thumbnail"> 
&nbsp&nbsp


    <% } else { %>
      <div>该服务尚未开通</div>
    <% } %>


<h3 style="color:#149354"><b>租房服务&nbsp&nbsp&nbsp </b> <a href="/HostManager/editHouse" class="btn btn-warning " align="right">修改租房服务</a></h3>

<% if (cHost.servicetype.includes("house4rent") ) { %>

<table class="table">
  <tbody>
    <tr  class="success">
      <td>房源名称</td>
      <td>
        <%= cHouse.housename %>
      </td>
      <td>价格/天</td>
      <td><%= cHouse.price %></td>
    </tr>
    <tr>
      <td>我的房子</td>
      <td><%= cHouse.housetype %>，<%= cHouse.bedroomcount %>室<%= cHouse.livingroomcount %>厅<%= cHouse.bathroomcount %>卫</td>
      <td>便利设施</td>
      <td><%= cHouse.facility %></td>
    </tr>
    <tr  class="success">
      <td>入住时间</td>
      <td><%= cHouse.checkintime %>后入住，<%= cHouse.checkouttime %>前退房</td>
      <td>租房要求</td>
      <td><%= cHouse.forbids %></td>
      </tr>
      <tr>
        <td>最多入住人数</td>
        <td><%= cHouse.capacity %>人</td>
        <td>最短预定时间</td>
        <td><%= cHouse.minday %>天</td>
      </tr>
      <tr class="success">
        <td>所在城市</td>
        <td> <%= cHouse.country %>,
      <%= cHouse.city %></td>
        <td>地址</td>
        <td><%= cHouse.street %>，<%= cHouse.zip %></td>
        </tr>
        <tr>
          <td>补充说明</td>
          <td><%= cHouse.memo %></td>
          <td></td>
          <td></td>
        </tr>
  </tbody>
</table>

<img src="/images/3.png" alt="头像" style="width:128px;height:128px;" class="img-thumbnail"> 

    <% } else { %>
      <div>该服务尚未开通</div>
    <% } %>





