<% include partials/navbar.ejs %>

<div class="container" >

  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-header">
        <h1 class="blog-title">
          city <%= car.carbrand %>&nbsp <%= car.carmodel %>
        </h1>
        <p class="lead blog-description">
           &#36 <%= car.guidewithcarprice %> &#47小时 &nbsp&nbsp&nbsp<%= car.reviewcount %>个评价
        </p>

        <div class="star5Ext" data-name='<%= ratings.overall.name %>' data-rating='<%= ratings.overall.value %>' ></div>
      </div>
      <br>
      <% var picture_fds = car.carpic_fd.split(',').filter(function(_){return _;}) %>
      <% include partials/picture-slides.ejs %>
      <!--img src="/message/snapshot/<%= car.carpic_fd %>" alt="暂时没有该车图片" style="width:600px;height:400px;" class="img-thumbnail"-->
      <br>
      <br>
      <div class="blog-post">
        <h3 class="blog-post-title">房屋详情</h3>
        <table class="table table-bordered">
            <tbody>
              <tr class="info">
                <th>车主</th>
                <td>
                  <%= car.owner %>&nbsp&nbsp<button class="btn btn-success btn-sm " btn-smtype="submit">查看车主信息</button></td>
                <th>价格/天</th>
                <td>
                  <%= car.guidewithcarprice %>美金</td>
              </tr>
              <tr>
                <th>车辆类型</th>
                <td>
                  <%= car.cartype %> &nbsp
                    <%= car.cargroup %>
                </td>
                <th>品牌型号</th>
                <td>
                  <%= car.carbrand %>&nbsp
                    <%= car.carmodel %>
                </td>
              </tr>
              <tr class="info">
                <th>车辆详情</th>
                <td>
                  <%= car.doorcount %>门
                    <%= car.seatcount %> 座 &nbsp&nbsp
                      <%= car.facility %>
                </td>
                <th>服务要求</th>
                <td>
                  <%= car.forbids %>
                </td>
              </tr>
              <tr>
                <th>最多服务人数</th>
                <td>
                  <%= car.maxserivecount %>人</td>
                <th>最短预定时间</th>
                <td>
                  <%= car.minservicetime %>天</td>
              </tr>
              <tr class="info">
                <th>服务城市</th>
                <td>
                  美国 波士顿
                </td>
                <th>服务语言</th>
                <td>
                  中文、英文
                </td>
              </tr>
              <tr>
                <th>司机简介</th>
                <td>
                  <%= car.guideintroduction %>
                </td>
                <th>车主性别</th>
                <td>男</td>
              </tr>
            </tbody>
          </table>
      </div>
      <!-- /.blog-post -->
      <br>
      <div class="blog-post">
        <div class="star5Ext" id='ui2' data-name='<%= ratings.overall.name %>' data-rating='<%= ratings.overall.value %>' ></div>
        <h3 class="blog-post-title">
          <%= car.reviewcount %>条评价 &nbsp&nbsp平均4.8分&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <button class="btn btn-info btn-sm " id="btn-view-comment">查看评价</button>
        </h3>
        <ul id="comment-root"></ul>
        <table class="table table-bordered">
          <tbody>
              <tr>
                <th>信息准确</th>
                <td>
                  <div class="star5Ext stars-small" data-name='<%= ratings.infomatch.name %>' data-rating='<%= ratings.infomatch.value %>'></div>
                </td>
                <th>服务守时</th>
                <td>
                  <div class="star5Ext stars-small" data-name='<%= ratings.goodlocation.name %>' data-rating='<%= ratings.goodlocation.value %>'></div>
                </td>
              </tr>
              <tr>
                <th>干净整洁</th>
                <td>
                  <div class="star5Ext stars-small" data-name='<%= ratings.communication.name %>' data-rating='<%= ratings.communication.value %>'></div>
                </td>
                <th>价格合理</th>
                <td>
                  <div class="star5Ext stars-small" data-name='<%= ratings.goodfacility.name %>' data-rating='<%= ratings.goodfacility.value %>'></div>
                </td>
              </tr>
              <tr>
                <th>沟通愉快</th>
                <td>
                  <div class="star5Ext stars-small" data-name='<%= ratings.clean.name %>' data-rating='<%= ratings.clean.value %>'></div>
                </td>
                <th>便利设施</th>
                <td>
                  <div class="star5Ext stars-small" data-name='<%= ratings.goodfacility.name %>' data-rating='<%= ratings.goodfacility.value %>'></div>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- /.blog-post -->
    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 ">
      <div class="affix">
        <div class="sidebar-module sidebar-module-inset">
          <h3>$<%= car.guidewithcarprice %>&nbsp&nbsp预订 </h3>
          <br>
        </div>
        <div class="sidebar-module">

        <form>
            <div class="form-group">
                <label for="chenkin">预订时间</label>
                <input type="datetime-local" class="form-control" id="chenkin" name="chenkin" placeholder="">
            </div>

            <div class="form-group">
                <label for="checkout">结束时间</label>
                <input type="datetime-local" class="form-control" id="checkout" name="checkout" placeholder="">
            </div>

            <div class="form-group">
                <label for="bookname">预订人姓名</label>
                <input type="text" class="form-control" id="bookname" name="bookname" placeholder="">
            </div>

            <div class="form-group">
              <label for="creditcard">信用卡号</label>
              <input type="number" class="form-control" id="creditcard" name="creditcard" placeholder="">
            </div>
            
            <div class="form-group">
              <label for="cardholdername">持卡人姓名</label>
              <input type="text" class="form-control" id="cardholdername" name="cardholdername" placeholder="">
            </div>

             <div class="form-group">
              <label for="expiredate">有效期</label>
              <input type="text" class="form-control" id="expiredate" name="expiredate" placeholder="">
            </div>

            <h4><b>总价:</b><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span id="grandTotal"></span></h4>
            <input type="hidden" name="totalPrice" id="totalPrice">
            <input type="submit" class="btn btn-success" value="预订"></input>
          </form>

        </div>
      </div>
    </div>
    <!-- /.blog-sidebar -->
  </div>
</div>

<script>
    var setDateAndPrice = function (date1, date2) {
      if (typeof date1 === 'undefined' || typeof date2 === 'undefined') {
        var today = new Date();
        var tomorrow = addDays(today, 1);
        return setDateAndPrice(today, tomorrow);
      }

      if (diffDays(date1, date2) >= 0) {
        alert('date range cannot be negtive! Reset to default');
        return setDateAndPrice();
      }

      var unitPrice = $('#unitPrice').text();
      $("#checkin").val(date2string(date1));
      $("#checkout").val(date2string(date2));
      var daySpan = diffDays(date2, date1);
      $('#grandTotal').text(daySpan * unitPrice);
      $('#totalPrice').val(daySpan * unitPrice);
    }

    $(document).ready(function () {
      setDateAndPrice();
    });

    $(document).on("change", "input[type=date]", function (env) {
      var dateStr1 = $('#checkin').val();
      var dateStr2 = $('#checkout').val();
      setDateAndPrice(string2date(dateStr1), string2date(dateStr2));
    });

    $(document).on('submit', 'form#newOrder', (evt) => {
      evt.preventDefault();
      $.post('/order/bookCar', $('form#newOrder').serialize(), (data) => {
        var model = { type: 'success', title: 'Well done!', message: 'New car booked', modalId: 'modal1' };
        if (data.ok) {
        } else {
          model = { type: 'error', title: 'Sorry!', message: data.message, modalId: 'modal1' };
        }
        $('#modal1 div.alert').removeClass().addClass(`alert alert-${model.type}`).text(`${model.title} ${model.message}`);
        $('#modal1').modal('show');
      });
    });

    $(document).on('click', 'form#newOrder .btn-submit', (evt) => {
      evt.preventDefault();
      $('form#newOrder').submit();
    });

    $(document).on('click', '#btn-view-comment', (evt) => {
      $.get("/order", {}, (data) => {
        var model = data.filter(function(_){ return _.serverHost == "<%=car.carowner%>" && _.type == "car" && _.commentOnHost })
          .map(function(_){ return { text:_.commentOnHost, author:_.customerId } });

        var html = model.reduce(function(sum, v){ return sum + cli_render_bind(v, 'simple-comment') }, "");
        $('#comment-root').html(html);
      });
    });
  </script>
