<% include partials/navbar.ejs %>

  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">
        <%= cHost.lastname%>,
          <%= cHost.firstname%> <a class="btn btn-success" href="/HostManager/ContactMe/<%= cHost.ofUser%>">contact me</a></h1>
      <p class="lead blog-description"> 美国，波士顿&nbsp&nbsp&nbsp&nbsp25个评价</p>
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" />
        <label class="star star-5" for="star-5"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" />
        <label class="star star-4" for="star-4"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" />
        <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" />
        <label class="star star-2" for="star-2"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" />
        <label class="star star-1" for="star-1"></label>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-8 blog-main">

        <!--div class="blog-post">
          <h2 class="blog-post-title">波士顿大房子</h2>
        </div-->
        <!-- /.blog-post -->
        <br>
        <table class="table table-bordered">
          <tbody>
            <tr class="info">
              <tr class="info">
                <th>服务城市</th>
                <td>纽约、波士顿</td>
                <th>兴趣爱好</th>
                <td>滑雪、购物</td>
              </tr>
              <tr>
                <th>服务类型</th>
                <td>租房、司机+车、向导</td>
                <th>服务语言</th>
                <td>中文、英语</td>
          </tbody>
        </table>


        <br>
        <br>

        <% if(typeof(car) != "undefined") { %>

          <h3 style="color:orange;"><b>司机、导游服务</b></h3>


          <table class="table">
            <tbody>
              <tr class="warning">
                <th>服务类型</th>
                <td> personal</td>
                <th>服务人数</th>
                <td>最多
                  <%= car.maxserivecount %>人</td>
              </tr>
              <tr>
                <th>服务要求</th>
                <td>
                  <%= car.forbids %>
                </td>
                <th>最短服务时间</th>
                <td>
                  <%= car.minservicetime %>小时</td>
              </tr>
              <tr class="warning">
                <th>导游收费</th>
                <td>
                  <%= car.guideprice %>美金/小时</td>
                <th>司机+私家车收费</th>
                <td>
                  <%= car.guidewithcarprice %>美金/小时</td>
              </tr>
              <tr>
                <th>私家车</th>
                <td>
                  <%= car.carbrand %>&nbsp730&nbsp&nbsp
                    <%= car.cartype %>&nbsp
                      <%= car.cargroup %>
                </td>
                <th>车辆详情</th>
                <td>
                  <%= car.doorcount %>门
                    <%= car.seatcount %>座&nbsp
                      <%= car.facility %>
                </td>
              </tr>
              <tr class="warning">
                <th>向导简介</th>
                <td>
                  <%= car.guideintroduction %>
                </td>
                <th></th>
                <td></td>
              </tr>

            </tbody>
          </table>

          <img src="<%= cHost.avartar_fd ? `/message/snapshot/${cHost.avartar_fd}` : '/images/img-missing.png' %>" alt="头像" style="width:128px;height:128px;"
            class="img-thumbnail">
          <hr/>
          <% } %>

            <% if(typeof(house) != "undefined") { %>

              <h3 style="color:#149354"><b>租房服务 </b> </h3>
              <table class="table">
                <tbody>

                  <tr class="success">
                    <th>房源名称</th>
                    <td>
                      <%= house.housename %>
                    </td>
                    <th>价格/天</th>
                    <td>
                      <%= house.price %>
                    </td>
                  </tr>
                  <tr>
                    <th>房屋详情</th>
                    <td>
                      <%= house.housetype %>，
                        <%= house.bedroomcount %>室
                          <%= house.livingroomcount %>厅
                            <%= house.bathroomcount %>卫</td>
                    <th>便利设施</th>
                    <td>
                      <%= house.facility %>
                    </td>
                  </tr>
                  <tr class="success">
                    <th>入住时间</th>
                    <td>
                      <%= house.checkintime %>后入住，
                        <%= house.checkouttime %>前退房</td>
                    <th>租房要求</th>
                    <td>
                      <%= house.forbids %>
                    </td>
                  </tr>
                  <tr>
                    <th>最多入住人数</th>
                    <td>
                      <%= house.capacity %>人</td>
                    <th>最短预定时间</th>
                    <td>
                      <%= house.minday %>天</td>
                  </tr>
                  <tr class="success">
                    <th>所在城市</th>
                    <td>
                      <%= house.country %>,
                        <%= house.city %>
                    </td>
                    <th>地址</th>
                    <td>
                      <%= house.street %>，
                        <%= house.zip %>
                    </td>
                  </tr>
                  <tr>
                    <th>补充说明</th>
                    <td>
                      <%= house.memo %>
                    </td>
                    <th></th>
                    <td></td>
                  </tr>
                </tbody>
              </table>

              <img src="<%= cHost.avartar_fd ? `/message/snapshot/${cHost.avartar_fd}` : '/images/img-missing.png' %>" alt="头像" style="width:128px;height:128px;"
                class="img-thumbnail">
              <% } %>

      </div>
      <!-- /.blog-post -->

      <div class="col-sm-3 col-sm-offset-1 ">
        <div class="affix">
          <div class="sidebar-module sidebar-module-inset">
            <h3>$50 &nbsp&nbsp预订 </h3>
            <br>
          </div>
          <div class="sidebar-module">

            <form>
              <div class="form-group">
                <label for="chenkin">入住日期</label>
                <input type="date" class="form-control" id="chenkin" name="chenkin" placeholder="">
              </div>
              <div class="form-group">
                <label for="checkout">退房日期</label>
                <input type="date" class="form-control" id="checkout" name="checkout" placeholder="">
              </div>
            </form>

            <h4><b>总价:</b> &nbsp$150</h4>
            <button class="btn btn-success" btn-smtype="submit">预订</button>
          </div>
        </div>
      </div>
      <!-- /.blog-sidebar -->
    </div>
    <!-- /.row -->
  </div>