<!-- 
    myOrders
-->

<% include partials/locals-functions %>

<style>
tr:nth-child(even){background-color: #f2f2f2}
table {
    width: 100%;
    table-layout: initial;
} 
</style>
<b><%= myOrders.length %> 个订单 ， 共 $ <%= myOrders.reduce(function(sum,elem){return sum+elem.totalPrice}, 0) %> </b>
<br><br>

<table class="table table-bordered" >
    <tr class="info">
        <th> 订单号</th>
        <th> 总价格（美元） </th>
        <th> 服务类型 </th>
        <th> 服务提供方 </th>
        <th> 服务起始时间 </th>
        <th> 服务结束时间 </th>
        <th>  </th>
    </tr>
    <% for(var idx=0; idx < myOrders.length; idx++) { %>
    <tr>
        <td width="10%"><%= myOrders[idx].id %></td>
        <td><%= myOrders[idx].totalPrice %>  </td>
        <td><%= myOrders[idx].type %></td>
        <td><%= myOrders[idx].serverHost %>   </td>
        <td><%= dateToString(myOrders[idx].serviceStartDate) %> </td>
        <td><%= dateToString(myOrders[idx].serviceEndDate) %>    </td>
        <td><a href="/HostManager/userComment/<%= myOrders[idx].id %>">评价</a>    </td>
    </tr>
    <% }%>
</table>




















<script >
    $(document).ready(function () {
        toggleSiderbarMenu('user_order');
    });
</script>