  <form class="form-horizontal" action='/house/publishOrUpdate'>
    <div class="form-group">
      <label for="housename" class="control-label col-md-2">房源名称</label>
      <div class="col-md-10">
        <input type="text" class="form-control " id="housename" name="housename" placeholder=" " value="<%= typeof myHouse == 'undefined' ? '' : myHouse.housename %>">
      </div>
    </div>
    <div class="form-group">
      <label for="bedroomcount" class="control-label col-md-2">房间数</label>
      <div class="col-md-4">
        <input type="number" class="form-control" id="bedroomcount" name="bedroomcount" min="1" max="10"  value="<%= typeof myHouse == 'undefined' ? '2' : myHouse.bedroomcount %>">
      </div>
      <label for="livingroomcount" class="control-label col-md-2">厅数</label>
      <div class="col-md-4">
        <input type="number" class="form-control" id="livingroomcount" name="livingroomcount" min="1" max="10" value="<%= typeof myHouse == 'undefined' ? '1' : myHouse.livingroomcount %>">
      </div>
    </div>

    <div class="form-group">
      <label for="bathroomcount" class="control-label col-md-2">卫生间数</label>
      <div class="col-md-4">
        <input type="number" class="form-control" id="bathroomcount" name="bathroomcount" min="1" max="10" value="<%= typeof myHouse == 'undefined' ? '2' : myHouse.bathroomcount %>">
      </div>
      <label for="capacity" class="control-label col-md-2">最多可住人数</label>
      <div class="col-md-4">
        <input type="number" class="form-control" id="capacity" name="capacity" min="1" max="30"  value="<%= typeof myHouse == 'undefined' ? '5' : myHouse.capacity %>">
      </div>
    </div>

    <div class="form-group">
      <label for="country" class="control-label col-md-2">地址</label>
      <div class="col-md-2">
        <input type="text" class="form-control" name="country" id="country" placeholder="国家"  value="<%= typeof myHouse == 'undefined' ? '' : myHouse.country %>" >
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" name="city" id="city" placeholder="城市"  value="<%= typeof myHouse == 'undefined' ? '' : myHouse.city %>">
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" name="street" id="street" placeholder="街道，门牌号"  value="<%= typeof myHouse == 'undefined' ? '' : myHouse.street %>">
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control" name="zip" id="zip" placeholder="邮编"  value="<%= typeof myHouse == 'undefined' ? '' : myHouse.zip %>">
      </div>
    </div>

    <div class="form-group">
      <label for="housepic" class="control-label col-md-2">房屋图片</label>
      <div class="col-md-10">
        <% if ((typeof myHouse == 'undefined') || !(myHouse.housepic_fd) ) { %>
          <input type="file" name="housepic" id="housepic" multiple class="file-loading">
          <input type="hidden" name="housepic_fd">
        <% } else { %>
          <img src="/message/snapshot/<%= myHouse.housepic_fd%>" alt="...">
        <% } %>
      </div>
    </div>

    <div class="form-group">
      <label for="ownershippic" class="control-label col-md-2">房产证照片</label>
      <div class="col-md-10">
        <% if ((typeof myHouse == 'undefined') || !(myHouse.ownershippic_fd) ) { %>
        <input type="file" name="ownershippic" id="ownershippic" multiple class="file-loading">
        <input type="hidden" name="ownershippic_fd">
         <% } else { %>
          <img src="/message/snapshot/<%= myHouse.ownershippic_fd%>" alt="...">
        <% } %>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-md-2">入住要求</label>
      <div class="col-md-2">
        <div class="checkbox">
          <label>    <input type="checkbox" value="pet" name="forbids" <%= typeof myHouse == 'undefined' || myHouse.forbids.indexOf('pet') == -1 ? '' : 'checked'  %> >
          禁止带宠物
          </label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="checkbox ">
          <label>    <input type="checkbox" value="party" name="forbids" <%= typeof myHouse == 'undefined' || myHouse.forbids.indexOf('party') == -1 ? '' : 'checked'  %>>
          禁止办聚会
          </label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="checkbox ">
          <label>   <input type="checkbox" value="kid" name="forbids" <%= typeof myHouse == 'undefined' || myHouse.forbids.indexOf('kid') == -1 ? '' : 'checked'  %>>
          禁止带儿童
          </label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-md-2">便利设施</label> <!-- facility -->
      <div class="col-md-2">
        <div class="checkbox">
          <label>    <input type="checkbox" value="kitchen" name="facility" <%= typeof myHouse == 'undefined' || myHouse.facility.indexOf('kitchen') == -1 ? '' : 'checked'  %>>
          厨房
          </label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="checkbox ">
          <label>    <input type="checkbox" value="freewifi" name="facility" <%= typeof myHouse == 'undefined' || myHouse.facility.indexOf('freewifi') == -1 ? '' : 'checked'  %>>
          免费上网
          </label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="checkbox ">
          <label>   <input type="checkbox" value="freeparking" name="facility" <%= typeof myHouse == 'undefined' || myHouse.facility.indexOf('freeparking') == -1 ? '' : 'checked'  %>>
          免费停车
          </label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="checkintime" class="control-label col-md-2">入住时间</label>
      <div class="col-md-4">
        <input type="time" class="form-control" name="checkintime" id="checkintime"  value="<%= typeof myHouse == 'undefined' ? '14:00:00' : myHouse.checkintime %>" >
      </div>
      <label for="checkouttime" class="control-label col-md-2">退房时间</label>
      <div class="col-md-4">
        <input type="time" class="form-control" name="checkouttime" id="checkouttime"  value="<%= typeof myHouse == 'undefined' ? '12:00:00' : myHouse.checkouttime %>">
      </div>
    </div>

    <div class="form-group ">
      <label for="price" class="control-label col-md-2">价格/天（美元）</label>
      <div class="col-md-4">
        <input type="number" class="form-control" name="price" id="price" min="1" max="1000"  value="<%= typeof myHouse == 'undefined' ? '' : myHouse.price %>">
      </div>
      <label for="minday" class="control-label col-md-2">最少入住天数</label>
      <div class="col-md-4">
        <input type="number" class="form-control" name="minday" id="minday" min="1" max="30"  value="<%= typeof myHouse == 'undefined' ? '1' : myHouse.minday %>">
      </div>
    </div>

    <div class="form-group">
      <label for="memo" class="control-label col-md-2">补充说明:</label>
      <div class="col-md-10">
        <textarea class="form-control" rows="5" name="memo" id="memo"  value="<%= typeof myHouse == 'undefined' ? '' : myHouse.memo %>"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-md-10">
        <button type="submit" class="btn btn-primary btn-submit">提交</button>
      </div>
    </div>
  </form>
